*{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	outline: none;
}

.extraspace{
	margin-left: 10px;
}

.button-righ-icon{
	margin-left: 10px;
}

/* LOGIN SECTION */

#login-cover{
	background: #fff;
	top: 0px;
	left: 0;
	width: 100%;
	height: 1000px;
	z-index: 1000;
	justify-content: center;	
	align-items: center;
}

#loginProgress{
	display: none;
}

#loginError{
	display: none;
}

#grid{
	position: absolute;
	margin-top: 50px;
}

#grid-in{
		
		height: 400px;
}

#buscadorOut{
	
	position: absolute;
	top: 1100px;
	z-index: 100;
	float: left;
	justify-content: center;
	height: auto;
}

#buscadorOut1{
	top: 5px;
	left: 125px;
}
#buscadorOut2{
	top: 5px;
	left: 400px;
}
#buscadorOut3{
	top: 5px;
	right: 150px;
}

#displayClassesOut{
	
	position: absolute;
	top: 1200px;
	z-index: 100;
	clear: both;
	justify-content: center;
	height: auto;
	float: left;
	clear: left;
	
}


#buscadorSelect{
	font-size: 14px;
}

#addTeacherMateria{
	font-size: 14px;
}

#ii{
top: 2400px;
}

#img{
	background-position: center; 
	background-repeat: no-repeat; 
	width: 80px; 
	height: 60px;
}

#uiform{
	position: absolute;
	top: 1200px;
	justify-content: center;
}


#div1ClasesAlumno{
	position: absolute;
	top: 100px;
	left: 200px;
	justify-content: center;
}

#div2ClasesAlumno{
	position: absolute;
	top: 250px;
	left: 200px;
	justify-content: center;
}

#div3ClasesAlumno{
	position: absolute;
	top: 750px;
	left: 200px;
	justify-content: center;
}

#div3IntranetProfesor{
	position: absolute;
	top: 350px;
	left: 200px;
	justify-content: center;
}


#divClasesAlumnoTT{
	
	position: absolute;
	top: 700px;
	left: 200px;
	width: 800px;
	justify-content: center;
}
#divClasesAlumnoG{
	position: absolute;
	top: 1100px;
	left: 600px;
	height: 80px;
	justify-content: center;
}


#div4ClasesAlumno{
	position: absolute;
	top: 1300px;
	left: 200px;
	justify-content: center;
}

#div4IntranetProfesor{
	position: absolute;
	top: 675px;
	left: 200px;
	justify-content: center;
}


#div5ClasesAlumno{
	position: absolute;
	top: 1200px;
	left: 600px;
	justify-content: center;
}

#imageheader{
	background-image: url("writing-notes-idea-conference.jpg");	
	height:580px;
	width:1200px;
}

#tablaContrataClase{
	border-style: dotted;
	position: relative;
	top: 40px;
	width:1000px;
	
}

#tablaContrataClase2{
	
	width:1000px;
}

.timetable{
	position: absolute;
	top: 800px;
	left: 200px;
	height: 400px;
}

#tablaProfesor{
	height: 650px;
	position: absolute;
	left: 150px;
	top: 100px;
	
}

#cards{
	
}

#card1{
	position: absolute;
	top: 700px;
	left: 80px;
}

#card2{
	position: absolute;
	top: 700px;
	left: 430px;
}

#card3{
	position: absolute;
	top: 700px;
	left: 780px;
}

#notaDesplegable2{
	padding-left: 30px;
}
         
.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {	
  color: #fff;
  background:
    url('ledge.jpg') bottom right 15% no-repeat #46B6AC;
}

.demo-card-square > .mdl-card__title.second {
  color: #fff;
  background:
    url('p2.jpg') bottom right 15% no-repeat #46B6AC;
}

.demo-card-square > .mdl-card__title.third {
  color: #fff;
  background:
    url('estudiando3 copia.jpg') bottom right 55% no-repeat #46B6AC;
}

#cssVal1{
	position: absolute;
	top: 650px;
	left: 1000px;
}

#cssVal1{
	position: absolute;
	bottom: 10px;
}

#tablaFinalIndex{
	
	top: 150px;
	bottom: 0px;
	position: relative;
	z-index: 100;
	clear: both;
	justify-content: center;
	height: auto;
	left: 100px;
	width:1200px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}