*{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	outline: none;
}

.extraspace{
	margin-left: 10px;
}

.button-righ-icon{
	margin-left: 10px;
}

/* LOGIN SECTION */

#login-cover{
	background: #fff;
	top: 0px;
	left: 0;
	width: 100%;
	height: 1000px;
	z-index: 1000;
	justify-content: center;	
	align-items: center;
}

#loginProgress{
	display: none;
}

#loginError{
	display: none;
}

#grid{
	position: absolute;
	margin-top: 50px;
}

#grid-in{
		
		height: 400px;
}

#buscadorOut{
	position: absolute;
	top: 1200px;
	z-index: 100;
	float: left;
	justify-content: center;
	height: auto;
}

#buscadorOut1{
	top: 5px;
	left: 125px;
}
#buscadorOut2{
	top: 5px;
	left: 400px;
}
#buscadorOut3{
	top: 5px;
	right: 150px;
}

#displayClassesOut{
	
	position: absolute;
	top: 1400px;
	z-index: 100;
	clear: both;
	justify-content: center;
	height: auto;
	float: left;
	clear: left;
	
}
#ii{
top: 2400px;
}

#img{
	background-position: center; 
	background-repeat: no-repeat; 
	width: 80px; 
	height: 60px;
}

#uiform{
	position: absolute;
	top: 1200px;
	justify-content: center;
}


#div1ClasesAlumno{
	position: absolute;
	top: 100px;
	left: 200px;
	justify-content: center;
}

#div2ClasesAlumno{
	position: absolute;
	top: 250px;
	left: 200px;
	justify-content: center;
}

#div3ClasesAlumno{
	position: absolute;
	top: 750px;
	left: 200px;
	justify-content: center;
}

#div4ClasesAlumno{
	position: absolute;
	top: 1300px;
	left: 200px;
	justify-content: center;
}

#div5ClasesAlumno{
	position: absolute;
	top: 1200px;
	left: 600px;
	justify-content: center;
}

#imageheader{
	background-image: url("writing-notes-idea-conference.jpg");	
	height:580px;
	width:1200px;
}

#tablaContrataClase{
	
	width:1000px;
}

#tablaContrataClase2{
	
	width:1000px;
}

.timetable{
	position: absolute;
	top: 800px;
	left: 200px;
	height: 400px;
}

#tablaProfesor{
	height: 650px;
	position: absolute;
	left: 150px;
	top: 100px;
	
}

#card1{
	position: absolute;
	top: 700px;
	left: 150px;
}

#card2{
	position: absolute;
	top: 700px;
	left: 500px;
}

#card3{
	position: absolute;
	top: 700px;
	left: 850px;
}

#notaDesplegable2{
	padding-left: 30px;
}
              